/*
font-family: 'Titillium Web', sans-serif;
font-family: 'Biryani', sans-serif;
*/

body { 
	background: #B84328;
	margin: 80px 0 0;
	padding-bottom: 100px;
	font-family: arial,sans-serif;
	font-size: 1em;
}
nav {
    display: hidden;
    min-height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	background: #f6f6f6;
	width: 100%;
	text-align: center;
	padding: 10px 0;
	border-bottom: 1px solid #9ab729;
	-webkit-box-shadow: 0px 19px 30px -21px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 19px 30px -21px rgba(0,0,0,0.75);
	box-shadow: 0px 19px 30px -21px rgba(0,0,0,0.75);
	border-bottom-right-radius: 187%;
    border-bottom-left-radius: 40%;
    background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 24%, rgba(255,255,255,1) 76%, rgba(255,255,255,1) 92%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 24%,rgba(255,255,255,1) 76%,rgba(255,255,255,1) 92%,rgba(255,255,255,0) 100%);
    background: linear-gradient(65deg, rgba(256,256,255,6) -656%,rgba(255,255,255,1) 66%,rgba(255,255,255,1) 82%,rgba(255,255,255,0) 106%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    transition-property: margin-left;
    transition-duration: 0.5s;
    transition-delay: 0;
    margin-left: 105px;

}
@media( max-width: 840px ){
    nav ul.topnav {
        margin-left: 28px;
    }
}

nav li {
	display: inline-block;
	position: relative;
	margin-right: 20px;
	margin: 5px;
	border-radius: 0;
}
nav ul ul {
    display: none;
    margin: 0;
    padding: 0;
}
nav ul ul li {
    width: 100px;
    display: block;
    margin-bottom: -5px;
}
nav ul li:hover ul {
    display: block;
    position: absolute;
    top: 50px;
    z-index: 7;
    padding-top: 20px;
    
}
nav ul li:hover ul li a {
    background: #fff;
    color: #9ab729;
    border: 2px dashed #9AB729;
    font-size: 13px;
    border-radius: 0;
    padding: 18px 0;
}
nav ul li:hover ul li a:hover {
    background: #9ab729;
    color: #fff;
    border: 2px dashed #fff;
}
nav li.current {
	/*position: absolute;
    top: 0;
    right: 46%;
    */
}
nav li.current a {
	min-width: 136px;
	background: #c7df63;
    color: #9ab729;
    border-radius: 5px 20px 5px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 800;
    font-size: 1.3em;
    text-decoration: none;
    background-image: -webkit-linear-gradient(#9FE, #A20);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
/*     background: url('http://i.livescience.com/images/i/000/009/030/i02/ig15_skyscenes_sundog_02.jpg?1296257149');
    transition-property: background-position;
    transition-duration: 3s;
    transition-delay: 0;
    background-position: -90px 220px;*/
}
nav li.current a:before {
    content: '';
    position: absolute;
    display: inline-block;
    top: 10%;
    left: -6%;
    width: 112%;
    height: 86%;
    border: 1px solid #f00;
    border-radius: 108px/30px;
}
/*nav li.current a:hover {
    background-position: -330px 220px;
}*/
nav li.current a:after {
	content: '';
    position: absolute;
    display: inline-block;
    top: -10%;
    left: 14%;
    width: 86%;
    height: 96%;
    border: 1px solid #B84328;
    border-radius: 350px 5px 20px;

}

nav a {
    display: block;
    min-width: 62px;
    color: #fff;
    background: #9ab729;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 25px;
    border: 1px solid #9ab729;
    transition-property: border-radius;
    transition-duration: 0.5s;
  	transition-delay: 0;
  	border-radius: 40px 0;
}
nav a:hover,
nav a:focus {
	background: #fff;
	color: #9ab729;
	transition-property: border-radius;
  	transition-duration: 0.3s;
  	transition-delay: 0;
  	border-radius: 0 40px;
}



section {
	min-height: 85vh;
    margin: 20px 10px;
    padding: 33px 50px 33px 50px;
	color: #fff;
	border: 2px solid #fff;
    border-radius: 120px;
    background: #9ab729 url('/sectionOne/images/footer_bar.jpg');
    background-size: cover;
    transition-property: background-position;
    transition-duration: 4.0s;
    transition-delay: 0;
    background-position: 1190px 1504px;
}
section:hover {
    background-position: -10px 960px;
}
section:nth-child(even){
	border: 2px dashed #fff;
	margin-left: 200px;
}
section:nth-child(odd){
	margin-right: 200px;
}
h1 {
    color: #fff;
    font-family: arial,sans-serif;
    font-size: 2em;
    margin: -60px 0 0 0;
    background: #9ab729;
    padding: 90px 10px 20px 10px;
}


#hamburger {
    display: none;
    font-size: 37px;
    font-weight: bold;
    border: none;
    background: transparent;
    float: right;
    margin-right: 5%;
    margin-top: 1%;
    z-index: 5;
    box-shadow: 5px 5px 17px 0px;

}


@media( max-width: 768px){
    nav ul { display: none; }
    nav ul ul { display: none; }
    nav li {
        display: block;
    }
    nav ul li:hover ul {
        top: -25px;
        z-index: 7;
        padding-top: 20px;
        right: -109px;
    }

    #hamburger {
        display: block;
    }

}
@media(max-width: 840px){
    section {     
        width: calc(100% - 124px);
        padding: 50px;
        margin: 20px 10px;
    }
    section:nth-child(even),
    section:nth-child(odd) {
        margin: 20px auto;
    }
    
}


