/*
font-family: 'Titillium Web', sans-serif;
font-family: 'Biryani', sans-serif;
*/

body { 
	background: #B84328;
	margin: 80px 0 0;
	padding-bottom: 100px;
	font-family: arial,sans-serif;
	font-size: 1em;
}
nav {
    display: hidden;
    min-height: 60px;
    z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	background: #f6f6f6;
	width: 100%;
	text-align: center;
	padding: 36px 0 10px;
	border-bottom: 1px solid #9ab729;
	-webkit-box-shadow: 0px 19px 30px -21px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 19px 30px -21px rgba(0,0,0,0.75);
	box-shadow: 0px 19px 30px -21px rgba(0,0,0,0.75);
	border-bottom-right-radius: 187%;
    border-bottom-left-radius: 40%;
    background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 24%, rgba(255,255,255,1) 76%, rgba(255,255,255,1) 92%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 24%,rgba(255,255,255,1) 76%,rgba(255,255,255,1) 92%,rgba(255,255,255,0) 100%);
    background: linear-gradient(65deg, rgba(256,256,255,6) -656%,rgba(255,255,255,1) 66%,rgba(255,255,255,1) 82%,rgba(255,255,255,0) 106%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    transition-property: margin-left;
    transition-duration: 0.5s;
    transition-delay: 0;
    margin-left: 105px;

}
@media( max-width: 840px ){
    nav ul.topnav {
        margin-left: 39px;
        margin-top: 20px;
    }
}

nav li {
    display: inline-block;
    position: relative;
    margin-right: -113px;
    margin: -19px;
    border-radius: 0;
}
nav ul ul {
    display: none;
    margin: 0;
    padding: 0;
}
nav ul ul li {
    width: 100px;
    display: block;
    margin-bottom: -5px;
}
nav ul li:hover ul {
    display: block;
    position: absolute;
    top: 55px;
    z-index: 7;
    padding-top: 20px;
    right: 17px;
}
nav ul li:hover ul li a {
    background: #fff;
    color: #9ab729;
    border: 2px dashed #9AB729;
    font-size: 13px;
    border-radius: 0;
    padding: 18px 0;
}
nav ul li:hover ul li a:hover {
    background: #9ab729;
    color: #fff;
    border: 2px dashed #fff;
}
nav li.current {
	/*position: absolute;
    top: 0;
    right: 46%;
    */
}
nav li.current a {
	min-width: 136px;
	background: #c7df63;
    color: #9ab729;
    border-radius: 5px 20px 5px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 800;
    font-size: 1.3em;
    text-decoration: none;
    background-image: -webkit-linear-gradient(#9FE, #A20);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
/*     background: url('http://i.livescience.com/images/i/000/009/030/i02/ig15_skyscenes_sundog_02.jpg?1296257149');
    transition-property: background-position;
    transition-duration: 3s;
    transition-delay: 0;
    background-position: -90px 220px;*/
}
nav li.current a:before {
    content: '';
    position: absolute;
    display: inline-block;
    top: 10%;
    left: -6%;
    width: 112%;
    height: 86%;
    border: 1px solid #f00;
    border-radius: 108px/30px;
}
/*nav li.current a:hover {
    background-position: -330px 220px;
}*/
nav li.current a:after {
	content: '';
    position: absolute;
    display: inline-block;
    top: -10%;
    left: 14%;
    width: 86%;
    height: 96%;
    border: 1px solid #B84328;
    border-radius: 350px 5px 20px;

}

nav a {
    display: block;
    min-width: 62px;
    color: #fff;
    background: #9ab729;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 28px;
    border: 1px solid #9ab729;
    transition-property: border-radius;
    transition-duration: 0.5s;
  	transition-delay: 0;
  	border-radius: 40px 0;
}
nav a:hover,
nav a:focus {
    background: #fff;
    color: #9ab729;
    transition-property: border-radius;
    transition-duration: 0.3s;
    transition-delay: 0;
    border-radius: 0 40px;
    box-shadow: 3px 4px 13px -1px #333;
    z-index: 10;
}
nav li:hover {
    z-index: 10;
}

section {
	min-height: 85vh;
    margin: 20px 10px;
    padding: 0;
	color: #fff;
	border: 2px solid #fff;
    border-radius: 120px;
    background: #9ab729 url('/images/footer_bar.jpg');
    background-size: cover;
    transition-property: background-position;
    transition-duration: 4.0s;
    transition-delay: 0;
    background-position: 1190px 1504px;
}
section:hover,
section:focus {
    background-position: -10px 960px;
}
section:nth-child(even){
	border: 2px dashed #fff;
	margin-left: 200px;
}
section:nth-child(odd){
	margin-right: 200px;
}
section .contPdg {
    min-height: 65vh;
    width: calc(95% - 90px);
    background: #fff;
    color: #222;
    opacity: 0.80;
    border-radius: 120px;
    padding: 45px;
    margin: 10px auto 5px;
}
h1 {
    color: #fff;
    font-family: arial,sans-serif;
    font-size: 1.9em;
    margin: -79px 0 0 0;
    background: #9ab729;
    padding: 120px 10px 20px 10px;
    text-align: center;

/*    background: url('/images/floral_band.png') repeat;
    background-size: cover;
    background-position: 510px 1040px;*/
    /*background: repeating-linear-gradient( 50deg, #D0E4B0, #dbf16b 1em, #D0E4B0 1em, #FFDEA8 2em, #D0E4B0 2em, #D0E4B0 3em, #cbe230 3em, #D0E4B0 4em, #cbe230 4em, #cbe230 5em, #838b73 5em, #9ab729 6em ), repeating-linear-gradient( -50deg, #9ab729, #838b73 1em, #FFDEA8 1em, #D0E4B0 2em, #D0E4B0 2em, #D0E4B0 3em, #dbf16b 3em, #b2c873 4em, #c7d8ac 4em, #dbf16b 5em, #d9ef42 5em, #b2c873 6em );
    background-blend-mode: multiply;*/
}


#hamburger {
    display: none;
    font-size: 37px;
    font-weight: bold;
    border: none;
    background: transparent;
    float: left;
    margin-top: .25%;
    z-index: 5;
    box-shadow: 5px 5px 17px 0px;
    color: #222;
    margin-left: 6%;
}


@media( max-width: 768px){
    .topnav {
        box-shadow: 2px 22px 32px -6px;
    }
    nav {
        padding: 20px 25px;
    }
    nav ul { display: none; }
    nav ul ul { display: none; }
    nav li {
        display: block;
    }
    nav ul li:hover ul {
        top: -55px;
        z-index: 7;
        padding-top: 20px;
        right: -69px;
    }
    nav ul li.current a {
        padding: 4px 28px;
        margin: 24px 0;
    }

    #hamburger {
        display: block;
    }

}
@media(max-width: 840px){
    section {     
        width: calc(100% - 5%);
        padding: 0;
        margin: 20px 10px;
    }
    section:nth-child(even),
    section:nth-child(odd) {
        margin: 20px 10px;
    }
    section .contPdg {
        width: 72%;
        padding: 13%;
        margin: 5px auto;
    }
}


