/*
font-family: 'Titillium Web', sans-serif;
font-family: 'Biryani', sans-serif;
*/

body { 
	background: #B84328;
	margin: 80px 0 0;
	padding-bottom: 100px;
	font-family: arial,sans-serif;
	font-size: 1em;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	background: #f6f6f6;
	width: 100%;
	text-align: center;
	padding: 10px 0;
	border-bottom: 1px solid #9ab729;
	-webkit-box-shadow: 0px 19px 30px -21px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 19px 30px -21px rgba(0,0,0,0.75);
	box-shadow: 0px 19px 30px -21px rgba(0,0,0,0.75);
	border-bottom-right-radius: 187%;
    border-bottom-left-radius: 40%;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    margin-left: 105px;

}
nav li {
	display: inline-block;
	position: relative;
	margin-right: 20px;
	margin: 5px;
	border-radius: 0;
}

nav li.current {
	position: absolute;
    top: 0;
    right: 46%;
}
nav li.current a {
	min-width: 136px;
	background: #c7df63;
    color: #9ab729;
    border-radius: 5px 20px 5px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 800;
    font-size: 1.3em;
    text-decoration: none;
    background-image: -webkit-linear-gradient(#9FE, #A20);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;


}
nav li.current a:before {
    content: '';
    position: absolute;
    display: inline-block;
    top: 10%;
    left: -6%;
    width: 112%;
    height: 86%;
    border: 1px solid #f00;
    border-radius: 108px/30px;
}
nav li.current a:after {
	content: '';
    position: absolute;
    display: inline-block;
    top: -10%;
    left: 14%;
    width: 86%;
    height: 96%;
    border: 1px solid #B84328;
    border-radius: 350px 5px 20px;

}

nav a {
    display: block;
    min-width: 62px;
    color: #fff;
    background: #9ab729;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 25px;
    border-radius: 40px 0;
    border: 1px solid #9ab729;
}
nav a:hover {
	background: #fff;
	color: #9ab729;
}

section {
	height: 85vh;
    margin: 20px 10px;
    padding: 80px 80px 20px;
	background: #9ab729;
	color: #fff;
	border: 2px solid #fff;
    border-radius: 120px;
}
section:nth-child(even){
	border: 2px dashed #fff;
	margin-left: 200px;
}
section:nth-child(odd){
	margin-right: 200px;
}
h1 {
    color: #fff;
    font-family: arial,sans-serif;
    font-size: 2em;
    margin: -60px 0 0 0;
    background: #9ab729;
    padding: 90px 10px 20px 10px;
}
